@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<CHTC_1.Models.TaiKhoan>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách tài khoản" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div  style="margin:24px">
<h1 style="text-align:center">Danh sách tài khoản</h1>

    <div style="margin:12px 0">
        <div style="display:inline-block;margin-right:20px">
            <a asp-action="CreateUser" class="btn btn-outline-info">
                Thêm mới
            </a>
        </div>
        <div style="display:inline-block">
            <a class="btn btn-outline-danger btn-deletemany">
                Xóa nhiều
            </a>
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                    <input type="checkbox" name="checkall" id="checkall" />
            </th>
            <th>
                Ảnh đại diện
            </th>
            <th>
                Họ tên
            </th>
            
            <th>
                Email
            </th>
            <th>
                Vai trò
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                        <input type="checkbox" name="checkbox" data-id="@item.NdId" />
            </td>
            <td>
                <img src="/images/@item.Nd.NdHinhanh" height="80px" width="100px" style="border-radius:20px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nd.NdHoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TkEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vt.VtTenvaitro)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.NdId" class="crudicon">
                            <span class="material-symbols-outlined">
                                edit_square
                            </span>
                        </a>
                        <a data-id="@item.NdId" class="crudicon btn-details-user">
                            <span class="material-symbols-outlined">
                                visibility
                            </span>
                        </a>
                        <a data-id="@item.NdId" class="crudicon btn-detele-user">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </a>
            </td>


        </tr>
}
    </tbody>
        @*@await Html.PartialAsync("DetailsPartial.cshtml")*@
</table>
    <div aria-label="Page navigation example">
        <ul class="pagination">
            <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="NguoiDungs" asp-action="Index" />
        </ul>
    </div>
</div>
@section Scripts{
    <script>
        //$(document).ready(function () {
        //    $('.btn-details-pro').click(function () {
        //        var userId = $(this).data('id');
        //        console.log(userId);
        //        $.ajax({
        //            type: "GET",
        //            url: '/Admin/NguoiDungs/DetailsUser?id=' + userId,
        //            success: function (data) {
        //                if (userId != null) {
        //                    console.log(userId);
        //                    console.log(data);
        //                    // Cập nhật nội dung modal với dữ liệu từ server
        //                    $("#DetailsUserModal .modalContent").html(data);
        //                    $('#userName').text(data.userName);
        //                    $('#userPhone').text(data.userPhone);
        //                    $('#userAddress').text(data.userAddress);
        //                    $('#userEmail').text(data.taikhoan.tkEmail);
        //                    $('#userRole').text(data.vaitro);
        //                    var usergender;
        //                    if(data.userGender == 0){
        //                        usergender = "Nam";
        //                    }
        //                    else if (data.userGender == 1){
        //                        usergender = "Nữ";
        //                    }
        //                    else usergender = "Khác";
        //                    $('#userGender').text(usergender);
        //                    var imageUrl = '/images/' + data.userImage;
        //                    $('#userImage').attr('src', imageUrl);

        //                    // Hiển thị modal
        //                    $("#DetailsUserModal").modal("show");
        //                } else {
        //                    console.log("lỗi nè fen");
        //                }
        //            },
        //            error: function () {
        //                console.log("Lỗi trong quá trình gọi AJAX.");
        //            }
        //        });
        //    });
        //});

        //chi tiết sản phẩm
        $(document).ready(function () {
            $('.btn-details-user').click(function () {
                var userId = $(this).data('id');
                console.log(userId);
                $.ajax({
                    type: "GET",
                    url: '/Admin/NguoiDungs/DetailsUser?id=' + userId,
                    success: function (data) {
                        if (userId != null) {
                            var usergender;
                            if(data.userGender == 0){
                                usergender = "nam";
                            }
                            else if (data.usergender == 1){
                                usergender = "nữ";
                            }
                            else usergender = "khác";
                            var detailUser = '<div class="row" style="width:900px">' +
                                '<div class="col-md-6">' +
                                '<p><b>Tên người dùng:</b> ' + data.userName + '</p>' + '<br>' +
                                '</div>' +
                                '<div class="col-md-6">' +
                                '<p><b>Giới tính:</b> ' + usergender + '</p>' + '<br>' +
                                '</div>' +
                                '<div class="col-md-6">' +
                                '<p><b>Email:</b> ' + data.taikhoan.tkEmail + '</p>' + '<br>' +
                                '</div>' +
                                
                                '<div class="col-md-6">' +
                                '<p><b>Số điện thoại:</b> ' + data.userPhone + '</p>' + '<br>' +
                                '</div>' +
                                '<div class="col-md-6">' +
                                '<p><b>Địa chỉ:</b> ' + data.userAddress + '</p>' + '<br>' +
                                '</div>' +
                                '<div class="col-md-6">' +
                                '<p><b>Vai trò:</b> ' + data.vaitro + '</p>' + '<br>' +
                                '</div>' +
                                '<div class="col-md-12">' +
                                '<p><b>Hình ảnh:</b> ' + '<img style="width:122px" src="/images/' + data.userImage + '" alt="Ảnh sản phẩm" />' + '<br>' +
                                '</div>' +
                                '</div>';
                            Swal.fire({
                                icon: 'info',
                                title: 'Chi tiết người dùng',
                                html: detailUser,
                                width: 1000,
                                confirmButtonText: 'Đóng'
                            })
                        } else {
                            console.log("lỗi nè fen");
                        }
                    },
                    error: function () {
                        console.log("Lỗi trong quá trình gọi AJAX.");
                    }
                });
            });
        });

        //chọn all checkbox
        $(document).ready(function () {
            var userIds = [];
            // click checkall
            $('#checkall').click(function () {
                var checkAllChecked = $(this).prop('checked');
                $('input[name="checkbox"]').prop('checked', checkAllChecked);
                //console.log(checkAllChecked);
                if (checkAllChecked) {
                    userIds = [];
                    $('input[name="checkbox"]:checked').each(function () {
                        userIds.push($(this).data('id'));
                    });
                }
                else {
                    let i = 0;
                    while (i < userIds.length) {
                        console.log(userIds[i]);
                        userIds.splice(i, 1);
                    }
                }
                console.log("ds cc", userIds)
            });

            // check từng cái
            $('input[name="checkbox"]').click(function () {
                if (this.checked) {
                    var userId = $(this).data('id');
                    userIds.push(userId)
                    var jsonData = JSON.stringify(userIds);
                }
                else {
                    //console.log("id da bo", $(this).data('id'));
                    const checkall = document.getElementById("checkall");
                    checkall.checked = false;

                    for (let i = 0; i < userIds.length; i++) {
                        if (userIds[i] == $(this).data('id'))
                            userIds.splice(i, 1)
                    }
                    //console.log("bo check", productIds)
                }
                console.log("ds cc", userIds)
            });

            //xóa nhiều
            $('.btn-deletemany').click(function () {
                if (userIds.length > 0) {
                    // Truyền mảng productIds lên server bằng AJAX và xử lý xóa nhiều.
                    var jsonData = JSON.stringify(userIds);
                    console.log("dl truyen di", userIds)
                    $.ajax({
                        type: "POST", // Loại request (có thể sử dụng GET hoặc POST tùy theo yêu cầu của bạn)
                        url: '/Admin/NguoiDungs/DeleteMany', // URL của endpoint trên server
                        data: jsonData, // Dữ liệu bạn muốn gửi lên server
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            console.log("Thành công gửi dữ liệu lên server.");
                            console.log("data", data.users);
                           
                            var tableUsers = '<table style="border-collapse: collapse;width:-webkit-fill-available;">' +
                                '<thead>' +
                                '<tr>' +
                                '<th style="border: 1px solid #ddd;text-align:center">Tên người dùng</th>' +
                                //'<th style="border: 1px solid #ddd;text-align:center">Email</th>' +
                                '<th style="border: 1px solid #ddd;text-align:center">SĐT</th>' +
                                '<th style="border: 1px solid #ddd;text-align:center">Giới tính</th>' +
                                //'<th style="border: 1px solid #ddd;text-align:center">Vai trò</th>' +
                                '</tr>' +
                                '</thead>' +
                                '<tbody>';

                            for (var i = 0; i < data.users.length; i++) {
                                var user = data.users[i];
                                var usergender;
                                if (user.ndGioitinh == 0) {
                                    usergender = "nam";
                                }
                                else if (user.ndGioitinh == 1) {
                                    usergender = "nữ";
                                }
                                else usergender = "khác";
                                console.log("user",user);
                                tableUsers += '<tr>' +
                                    '<td style="border: 1px solid #ddd;text-align:center">' + user.ndHoten + '</td>' +
                                    //'<td style="border: 1px solid #ddd;text-align:center">' + user.taikhoan.tkEmail + '</td>' +
                                    '<td style="border: 1px solid #ddd;text-align:center">' + user.ndSdt + '</td>' +
                                    '<td style="border: 1px solid #ddd;text-align:center">' + usergender + '</td>' +
                                    //'<td style="border: 1px solid #ddd;text-align:center">' + user.vaitro + '</td>' +
                                    '</tr>';
                            }
                            Swal.fire({
                                icon: 'warning',
                                title: 'Bạn có muốn xóa các sản phẩm đã chọn',
                                html: tableUsers,
                                confirmButtonText: 'Xóa',
                                showCancelButton: true
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    var jsonData = JSON.stringify(userIds);
                                    $.ajax({
                                        type: "POST", // Loại request (có thể sử dụng GET hoặc POST tùy theo yêu cầu của bạn)
                                        url: '/Admin/NguoiDungs/DeleteManyConfirm', // URL của endpoint trên server
                                        data: jsonData, // Dữ liệu bạn muốn gửi lên server
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (data) {
                                            Swal.fire({
                                                icon: 'success',
                                                title: 'Xóa sản phẩm thành công',
                                                showConfirmButton: false,
                                                timer: 1500
                                            }).then(function () {
                                                location.reload();
                                            });
                                            
                                        },
                                    });
                                }
                            });

                        },
                        error: function () {
                            // Xử lý khi request gặp lỗi
                            console.log("Lỗi trong quá trình gọi AJAX.");
                        }
                    });
                }
                else {
                    Swal.fire({
                        title: 'Vui lòng chọn người dùng cần xóa',
                        icon: 'info',
                        confirmButtonText: 'Đóng'
                    })
                }

            });
        });


        $(document).ready(function () {
            $('.btn-detele-user').click(function () {
                var userId = $(this).data('id');
                console.log(userId);
                $('#proId').val(userId);
                $.ajax({
                    type: "GET",
                    url: '/Admin/NguoiDungs/DeleteUser?id=' + userId,
                    success: function (data) {
                        console.log("hahaha",data)
                        if (userId != null) {
                            var usergender;
                            if (data.userGender == 0) {
                                usergender = "nam";
                            }
                            else if (data.userGender == 1) {
                                usergender = "nữ";
                            }
                            var detailUser = '<div class="row" style="width:900px">' +
                                '<div class="col-md-6">' +
                                '<p><b>Tên người dùng:</b> ' + data.userName + '</p>' + '<br>' +
                                '</div>' +
                                '<div class="col-md-6">' +
                                '<p><b>Giới tính:</b> ' + usergender + '</p>' + '<br>' +
                                '</div>' +
                                '<div class="col-md-6">' +
                                '<p><b>Email:</b> ' + data.taikhoan.tkEmail + '</p>' + '<br>' +
                                '</div>' +

                                '<div class="col-md-6">' +
                                '<p><b>Số điện thoại:</b> ' + data.userPhone + '</p>' + '<br>' +
                                '</div>' +
                                '<div class="col-md-6">' +
                                '<p><b>Địa chỉ:</b> ' + data.userAddress + '</p>' + '<br>' +
                                '</div>' +
                                '<div class="col-md-6">' +
                                '<p><b>Vai trò:</b> ' + data.vaitro + '</p>' + '<br>' +
                                '</div>' +
                                '<div class="col-md-12">' +
                                '<p><b>Hình ảnh:</b> ' + '<img style="width:122px" src="/images/' + data.userImage + '" alt="Ảnh sản phẩm" />' + '<br>' +
                                '</div>' +
                                '</div>';
                            Swal.fire({
                                icon: 'warning',
                                title: 'Bạn có muốn xóa người dùng này',
                                html: detailUser,
                                width: 1000,
                                confirmButtonText: 'Xóa',
                                showCancelButton: true
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    var jsonData = JSON.stringify(userId);
                                    $.ajax({
                                        type: "POST", // Loại request (có thể sử dụng GET hoặc POST tùy theo yêu cầu của bạn)
                                        url: '/Admin/NguoiDungs/DeleteUserConfirm', // URL của endpoint trên server
                                        data: jsonData, // Dữ liệu bạn muốn gửi lên server
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (data) {
                                            Swal.fire({
                                                icon: 'success',
                                                title: 'Xóa người dùng thành công',
                                                showConfirmButton: false,
                                                timer: 1500
                                            }).then(function () {
                                                location.reload();
                                            });
                                        },
                                    });
                                }
                            });
                            //console.log(productId);
                            //console.log(data.nccTen);
                            //console.log(data.loaiTen);
                            //console.log(data.sanPham);
                            //// Cập nhật nội dung modal với dữ liệu từ server
                            //$("#DeleteModal .modalContent").html(data);
                            //$('#proName').text(data.sanPham.spTensp);
                            //$('#proPrice').text(data.sanPham.spGia);
                            //$('#proQuantity').text(data.sanPham.spSoluong);
                            //$('#proDescription').text(data.sanPham.spMota);
                            //var imageUrl = '/images/' + data.sanPham.spHinhanh;
                            //$('#proImage').attr('src', imageUrl);
                            //$('#proCategory').text(data.loaiTen);
                            //$('#proSupplier').text(data.nccTen);

                            //// Hiển thị modal
                            //$("#DeleteModal").modal("show");
                        } else {
                            console.log("lỗi nè fen");
                        }
                    },
                    error: function () {
                        console.log("Lỗi trong quá trình gọi AJAX.");
                    }
                });
            });
        });
    </script>
}