@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<CHTC_1.Models.VaiTro>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách vai trò" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div style="margin:24px">
    <h1 style="text-align:center">Danh sách vai trò</h1>
    <div style="margin:12px 0">
        <div style="display:inline-block;margin-right:20px">
            <a asp-action="Create" class="btn btn-outline-info">
                Thêm mới
            </a>
        </div>
        <div style="display:inline-block;margin-right:20px">
            <a class="btn btn-outline-danger btn-deletemany">
                Xóa nhiều
            </a>
        </div>
       
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="checkall" id="checkall">
                </th>
                <th>
                    Tên loại
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
         @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="checkbox" data-id="@item.VtId">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VtTenvaitro)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.VtId" class="crudicon">
                                <span class="material-symbols-outlined">
                                    edit_square
                                </span>
                            </a>
                            <a data-id="@item.VtId" class="crudicon btn-details-role">
                                <span class="material-symbols-outlined">
                                    visibility
                                </span>
                            </a>
                            <a data-id="@item.VtId" class="crudicon btn-detele-role">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </a>
                        </td>


          
                    </tr>
                }
            }
            else
            {
                <tr><p>Chưa có vai trò nào</p></tr>
            }
        </tbody>
    </table>
    <div aria-label="Page navigation example">
        <ul class="pagination">
            <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="Loais" asp-action="Index" />
        </ul>
    </div>
</div>

@section Scripts{
    <script>

        //chi tiết sản phẩm
        $(document).ready(function () {
            $('.btn-details-role').click(function () {
                var roleId = $(this).data('id');
                console.log(roleId);
                $.ajax({
                    type: "GET",
                    url: '/Admin/Vaitros/DetailRole?id=' + roleId,
                    success: function (data) {
                        if (roleId != null) {
                            console.log(data)
                            var detailSup =
                                '<div">' +
                                '<p style="padding:24px;font-size:24px"><b>Vai trò:</b> ' + data.role.vtTenvaitro + '</p>' + '<br>' +
                                '</div>';
                            Swal.fire({
                                icon: 'info',
                                title: 'Chi tiết vai trò',
                                html: detailSup,
                                confirmButtonText: 'Đóng'
                            })
                        } else {
                            console.log("lỗi nè fen");
                        }
                    },
                    error: function () {
                        console.log("Lỗi trong quá trình gọi AJAX.");
                    }
                });
            });
        });

        // xóa một
        $(document).ready(function () {
            $('.btn-detele-role').click(function () {
                var roleId = $(this).data('id');
                $.ajax({
                    type: "GET",
                    url: '/Admin/Vaitros/DeleteRole?id=' + roleId,
                    success: function (data) {
                        if (roleId != null) {
                            console.log("data",data)
                            var detailRole =
                                '<div">' +
                                '<p style="padding:24px;font-size:24px"><b>Tên vai trò: </b> ' + data.role.vtTenvaitro + '</p>' + '<br>' +
                                '</div>';
                            Swal.fire({
                                icon: 'warning',
                                title: 'Bạn có muốn xóa vai trò',
                                html: detailRole,
                                confirmButtonText: 'Xóa',
                                showCancelButton: true
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    var jsonData = JSON.stringify(roleId);
                                    $.ajax({
                                        type: "POST", // Loại request (có thể sử dụng GET hoặc POST tùy theo yêu cầu của bạn)
                                        url: '/Admin/Vaitros/DeleteRoleConfirm', // URL của endpoint trên server
                                        data: jsonData, // Dữ liệu bạn muốn gửi lên server
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (data) {
                                            console.log("status", data.status)
                                            if (data.status == "success") {
                                                swal.fire({
                                                    icon: 'success',
                                                    title: 'Xóa vai trò thành công',
                                                    showconfirmbutton: false,
                                                    timer: 1500
                                                }).then(function () {
                                                    location.reload();
                                                });
                                            }
                                            else {
                                                Swal.fire({
                                                    icon: 'warning',
                                                    title: 'Bạn phải xóa tài khoản có vai trò này trước',
                                                    confirmButtonText: 'Đóng'
                                                })
                                            }
                                        }
                                    });
                                }
                            });

                        } else {
                            console.log("lỗi nè fen");
                        }
                    },
                    error: function () {
                        console.log("Lỗi trong quá trình gọi AJAX.");
                    }
                });
            });
        });

        //// xóa nhiều
        $(document).ready(function () {
            var roleIds = [];
            // click checkall
            $('#checkall').click(function () {
                var checkAllChecked = $(this).prop('checked');
                $('input[name="checkbox"]').prop('checked', checkAllChecked);
                //console.log(checkAllChecked);
                if (checkAllChecked) {
                    roleIds = [];
                    $('input[name="checkbox"]:checked').each(function () {
                        roleIds.push($(this).data('id'));
                    });
                }
                else {
                    let i = 0;
                    while (i < roleIds.length) {
                        console.log(roleIds[i]);
                        roleIds.splice(i, 1);
                    }
                }
                console.log("ds cc", roleIds)
            });

            // check từng cái
            $('input[name="checkbox"]').click(function () {
                if (this.checked) {
                    var roleId = $(this).data('id');
                    roleIds.push(roleId)
                    var jsonData = JSON.stringify(roleIds);
                }
                else {
                    //console.log("id da bo", $(this).data('id'));
                    const checkall = document.getElementById("checkall");
                    checkall.checked = false;

                    for (let i = 0; i < roleIds.length; i++) {
                        if (roleIds[i] == $(this).data('id'))
                            roleIds.splice(i, 1)
                    }
                    //console.log("bo check", productIds)
                }
                console.log("ds cc", roleIds)
            });

            //xóa nhiều
            $('.btn-deletemany').click(function () {
                if (roleIds.length > 0) {
                    // Truyền mảng productIds lên server bằng AJAX và xử lý xóa nhiều.
                    var jsonData = JSON.stringify(roleIds);
                    console.log("dl truyen di", roleIds)
                    $.ajax({
                        type: "POST", // Loại request (có thể sử dụng GET hoặc POST tùy theo yêu cầu của bạn)
                        url: '/Admin/Vaitros/DeleteMany', // URL của endpoint trên server
                        data: jsonData, // Dữ liệu bạn muốn gửi lên server
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            console.log("Thành công gửi dữ liệu lên server.");
                            console.log("data", data);

                            var tableRoles = '<table style="border-collapse: collapse;width:-webkit-fill-available;">' +
                                '<thead>' +
                                '<tr>' +
                                '<th style="border: 1px solid #ddd;text-align:center">Tên vai trò</th>' +
                                '</tr>' +
                                '</thead>' +
                                '<tbody>';

                            for (var i = 0; i < data.roles.length; i++){
                                var role = data.roles[i];
                                tableRoles += '<tr>' +
                                    '<td style="border: 1px solid #ddd;text-align:center">' + role.vtTenvaitro + '</td>' +
                                    '</tr>';
                            }
                            Swal.fire({
                                icon: 'warning',
                                title: 'Bạn có muốn xóa các vai trò',
                                html: tableRoles,
                                confirmButtonText: 'Xóa',
                                showCancelButton: true
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    var jsonData = JSON.stringify(roleIds);
                                    $.ajax({
                                        type: "POST", // Loại request (có thể sử dụng GET hoặc POST tùy theo yêu cầu của bạn)
                                        url: '/Admin/Vaitros/DeleteManyConfirm', // URL của endpoint trên server
                                        data: jsonData, // Dữ liệu bạn muốn gửi lên server
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (data) {
                                            Swal.fire({
                                                icon: 'success',
                                                title: 'Xóa nhà vai trò',
                                                showConfirmButton: false,
                                                timer: 1500
                                            }).then(function () {
                                                location.reload();
                                            });
                                            //console.log("data", data.products);
                                        },
                                    });
                                }
                            });

                        },
                        error: function () {
                            // Xử lý khi request gặp lỗi
                            console.log("Lỗi trong quá trình gọi AJAX.");
                        }
                    });
                }
                else {
                    Swal.fire({
                        title: 'Vui lòng chọn vai trò muốn xóa',
                        icon: 'info',
                        confirmButtonText: 'Đóng'
                    })
                }

            });
        });

                //them nha cung cap

                //$(document).ready(function () {
                //    $('.btn-create-supplier').click(function () {
                //        var supplierId = $(this).data('id');
                //        console.log(supplierId);
                //        $.ajax({
                //            type: "POST",
                //            url: '/Admin/NhaCungCaps/DetailSupplier?id=' + supplierId,
                //            success: function (data) {
                //                if (supplierId != null) {
                //                    var detailSup =
                //                        '<div">' +
                //                        '<p style="padding:24px;font-size:24px"><b>Tên nhà cung cấp:</b> ' + data.nhaCungCap.nccTen + '</p>' + '<br>' +
                //                        '</div>';
                //                    Swal.fire({
                //                        icon: 'info',
                //                        title: 'Chi tiết nhà cung cấp',
                //                        html: detailSup,
                //                        confirmButtonText: 'Đóng'
                //                    })
                //                } else {
                //                    console.log("lỗi nè fen");
                //                }
                //            },
                //            error: function () {
                //                console.log("Lỗi trong quá trình gọi AJAX.");
                //            }
                //        });
                //    });
                //});



    </script>
}