@model CHTC_1.Models.HoaDon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



@*<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdTongtien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdTongtien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdNgay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdNgay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nd.NdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pttt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pttt.PtttId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tthd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tthd.TthdId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HdId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>*@


<div style="margin-left:24px;text-align:center">
    <h3>Xoá hoá đơn đặt hàng</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tổng tiền:
        </dt>
        <dd class="col-sm-10">
            @Model.HdTongtien.ToString("#,##0") VNĐ
        </dd>
        <dt class="col-sm-2">
            Ngày đặt:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HdNgay)
        </dd>
        <dt class="col-sm-2">
            Người đặt:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nd.NdHoten)
        </dd>
        <dt class="col-sm-2">
            Phương thức thanh toán:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pttt.PtttTen)
        </dd>
        <dt class="col-sm-2">
            Trạng thái hoá đơn:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tthd.TthdTrangthai)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="HdId" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> 
        <a class="btn" style="background-color:rgb(9, 122, 60);color:antiquewhite" asp-action="Index">Trở lại</a>
    </form>
</div>